<div class="tab-selector">
    <ul class="tab-selector__tabs">
        <li>
            <a href="#tab-content-first" title="Content of first tab" id="tab-first" role="tab" aria-controls="Item One">Item One</a>
        </li>
        <li>
            <a href="#tab-content-second" title="Content of second tab" id="tab-second" role="tab" aria-controls="Item Two">Item Two</a>
        </li>
        <li>
            <a href="#tab-content-third" title="Content of third tab" id="tab-third" role="tab" aria-controls="Item Three">Item Three</a>
        </li>
    </ul>
     <div id="tab-content-first" name="tab-content-first" class="tab-selector__tab-content" aria-labelledby="tab-first" role="tabcontent">
        <p>First tab content</p>
         <p>Hamburger pork chop alcatra brisket. Kevin swine salami cow ball tip bresaola. Short loin pork rump spare ribs doner pig meatloaf meatball leberkas. Andouille picanha tri-tip pork belly, jerky sausage pork hamburger fatback ham salami brisket tail meatball.</p>
    </div>
    <div id="tab-content-second" name="tab-content-second" class="tab-selector__tab-content" labelledby="tab-second" role="tabcontent">
        <p>Second tab content</p>
        <p>Pork sirloin cupim spare ribs, porchetta shankle short ribs pig. Frankfurter kevin strip steak shank porchetta corned beef. Doner flank pork landjaeger chuck spare ribs. Cow ribeye beef ribs fatback pork loin flank strip steak. Beef ribs biltong fatback tongue doner porchetta bacon. Ham hock alcatra short loin, venison andouille spare ribs ham shankle pancetta shoulder tenderloin biltong corned beef.</p>
    </div>
    <div id="tab-content-third" name="tab-content-third" class="tab-selector__tab-content" labelledby="tab-third" role="tabcontent">
        <p>Third tab content</p>
        <p>Bacon ipsum dolor amet cow shankle swine, sirloin frankfurter fatback meatloaf beef ribs spare ribs flank brisket. Jowl kielbasa cow strip steak. Alcatra pork loin kevin ham hock filet mignon porchetta bresaola swine pork. Tongue strip steak pork loin chuck pork chop rump flank meatloaf short loin pork belly fatback. Beef ribs shankle tenderloin, ball tip cupim pancetta picanha swine sirloin meatloaf ribeye. Cupim tri-tip sausage doner sirloin venison chuck meatloaf pastrami, shankle tenderloin ham hock. Swine spare ribs meatball ribeye pork chop.</p>
    </div>
</div>