.fade-in(@length:.5s){
    -webkit-animation: fadein @length; /* Safari, Chrome and Opera > 12.1 */
           -moz-animation: fadein @length; /* Firefox < 16 */
            -ms-animation: fadein @length; /* Internet Explorer */
             -o-animation: fadein @length; /* Opera < 12.1 */
                animation: fadein @length;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

