// main: main.less

.tab-selector{
    padding: 20px;
    
    .tab-selector__tabs{
        margin: 0;
        padding: 20px 0;
        border-bottom: 1px solid grey;
        
        li{
           display: inline;
            list-style: none;
           
        }
        
        a{
            text-decoration: underline;
            
            color: #222;
            padding: 21px 10px;
          
        
            &:focus,
            &:active, 
            &[aria-selected="true"] {
                text-decoration: none;
                font-weight: 700;
                background-color: #dcdcdc;
                border: 1px solid grey;
                border-bottom: 1px solid #dcdcdc;
                border-bottom: none;
            }
        }
    }
    .tab-selector__tab-content{
        clear: both;
        padding: 20px;
        background-color: #dcdcdc;
        border: 1px solid grey;
        border-top: none;
    }
    
    
    &.tab-selector-enabled{
        
        .tab-selector__tab-content p{
            //Only for JS 
             opacity: 0;
        }
        
        .tab-selector__tab-content[aria-hidden=true] {
          
            display: none;
            
            p{
                opacity: 0;
            }
        }
        .tab-selector__tab-content[aria-hidden=false] p{

                .fade-in(.5s); //Fade in mixin
                opacity: 1;

        }
    }
}

@media screen and (min-width: 768px) {
    .tab-selector .tab-selector__tabs a{
        padding: 21px 20px;
    }
}
